
@{
    ViewData["Title"] = "RegisterSuccess";
}

<h1 class="text-center mt-5">You Registered Successfully</h1>

<div>
    <a asp-controller="Account" asp-action="Index">Login To use the System</a>
</div>