

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h3 class="mb-3">Welcome to</h3>
    <h1 class="mb-3">Effort Tracker </h1>
    <h3 class="mb-3"> Save your efforts and communicate easily</h3>
    <h5>Know More About <a href="https://www.evapharma.com/ar/">EvaPharma</a>.</h5>
</div>
